<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset
		name="component"
		addfieldpath="/administrator/components/com_actparse/models/fields"
		>

		<field
			name="show_ext_path"
			type="radio"
			label="COM_ACTPARSE_SHOW_PATHWAY"
			description="COM_ACTPARSE_SHOW_PATHWAY_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			>
			<option value="0">Easy</option>
			<option value="1">Extended</option>
		</field>

		<field
			name="show_all"
			type="radio"
			label="COM_ACTPARSE_SHOW_ALL"
			description="COM_ACTPARSE_SHOW_ALL_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="name_all"
			type="text"
			label="COM_ACTPARSE_NAME_ALL"
			description="COM_ACTPARSE_NAME_ALL_DESC"
			default="COM_ACTPARSE_RAIDWIDE"
		/>

		<field
			type="radio"
			name="show_graph"
			label="COM_ACTPARSE_SHOW_GRAPH"
			description="COM_ACTPARSE_SHOW_GRAPH_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			type="radio"
			name="mark_user"
			label="COM_ACTPARSE_MARK_USER"
			description="COM_ACTPARSE_MARK_USER_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			type="radio"
			name="hide_parse"
			label="COM_ACTPARSE_HIDE_PARSE"
			description="COM_ACTPARSE_HIDE_PARSE_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="spacer1"
			type="spacer"
			hr="true"
		/>

		<field
			name="filter_field"
			type="radio"
			label="JGLOBAL_FILTER_FIELD_LABEL"
			description="COM_SERMONSPEAKER_FILTER_FIELD_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_pagination_limit"
			type="radio"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
			description="JGLOBAL_DISPLAY_SELECT_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_pagination"
			type="list"
			label="JGLOBAL_Pagination_Label"
			description="JGLOBAL_Pagination_Desc"
			layout="joomla.form.field.radio.switcher"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="2">JGLOBAL_AUTO</option>
		</field>

		<field
			name="show_pagination_results"
			type="radio"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>

	<fieldset
		name="columns"
		label="COM_ACTPARSE_FIELDSET_COLUMNS_LABEL"
		>
		<field
			name="combatantcolumns"
			type="sqlmultilistx"
			label="COM_ACTPARSE_SELECT_COLUMNS_COMBATANT"
			description="COM_ACTPARSE_COM_ACTPARSE_SELECT_COLUMNS_DESC"
			size="5"
			multiple="multiple"
			sql="SHOW COLUMNS FROM combatant_table"
		/>

		<field
			name="damagecolumns"
			type="sqlmultilistx"
			label="COM_ACTPARSE_SELECT_COLUMNS_DAMAGE"
			description="COM_ACTPARSE_COM_ACTPARSE_SELECT_COLUMNS_DESC"
			size="5"
			multiple="multiple"
			sql="SHOW COLUMNS FROM damagetype_table"
		/>

		<field
			name="attackcolumns"
			type="sqlmultilistx"
			label="COM_ACTPARSE_SELECT_COLUMNS_ATTACK"
			description="COM_ACTPARSE_COM_ACTPARSE_SELECT_COLUMNS_DESC"
			size="5"
			multiple="multiple"
			sql="SHOW COLUMNS FROM attacktype_table"
		/>
	</fieldset>
</config>
